body{
    background-color :teal;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    
}

h1{
font-size: 1.5rem;

}




#leap{
    display: flex;
    align-items: center;
    justify-content: center;
}


.section1{
    
   
    
    padding: 3.5rem;
    margin: auto;
    text-align: center;
}
span{
    font-size: 1.5rem;
}

.section2{
    display: none;
}

.check{
 
    width: 100%;
    min-height: 50px;
    padding: 1rem;
    background-color: lightblue;
    
}

input.check{
    display: block;
    margin: auto;
    border: none;
}

button{
    background-color:burlywood;
    display: block;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    border: solid 4px ;
    
}